Author: ichitaso <willfeeltips+bc@gmail.com>
Maintainer: BigBoss <bigboss@thebigboss.org>
Package: com.ichitaso.badgecleaner
Name: BadgeCleaner
Depends: firmware (>= 8.0), mobilesubstrate, preferenceloader, applist
Section: Tweaks
Version: 1.0-8
Architecture: iphoneos-arm
Description: Swipe on the app icon with badge and the clear menu will be displayed
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=badgecleanerDp
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=badgecleanerDp
Sponsor: thebigboss.org <http://thebigboss.org>
dev: ichitaso
Tag: purpose::extension, compatible::ios8, compatible::ios9, compatible::ios10
Icon: file:///Library/PreferenceBundles/BadgeCleanerSettings.bundle/BadgeCleaner@2x.png